body {
	background-color: #3D4F53;
}

p {
	font-family: 'Raleway', sans-serif;
}

button {
	padding: 15px 25px;
	background-color: #EA638C;
	border-radius: 0px;
	border: 0px;
	color: white;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-right: 10px;
	margin-top: 12px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #EA638C  inset;
}

button:hover{
    box-shadow:350px 0 0 #FFE4A0 inset;
		border: solid #3D4F53 1px;
		color: #3D4F53;
}

#header {
	text-align: center;
	padding-top: 0px;
	border-bottom: solid black 1px;
	background-color: white;
}

#header h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 100px;
	letter-spacing: 35px;
}

#thin {
	font-weight: 300;
	color: #F4AFB4;
}

#thick {
	font-weight: 900;
	color: #3D4F53;
}

#social {
	text-align: left;
	padding-top: 20px;
	padding-left: 40px;
	background-color: white;
}

#social img {
	margin: 0px 5px;
}

#nav {
	text-align: center;
	background-color: white;
}

#nav ul {
	list-style: none;
	text-align: center;
	width: 40%;
	margin-right: auto;
	margin-left: auto;
	font-weight: 400;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
}

#nav ul li {
	float: left;
	padding: 15px 20px 15px 20px;
	text-transform: uppercase;
}

#nav ul li:hover {
	background-color: #6A97BE;
	color: white;
}

#nav a {
	color: black;
}

#landingSection {
	background-color: #FFE4A0;
}

#body-left {
	padding-top: 8%;
	padding-left: 6%;
	padding-right: 6%;
	text-align: center;
}

#body-left h3 {
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	font-family: 'Nunito Sans', sans-serif;
	color: #3D4F53;
}

#body-left p {
	font-size: 18px;
}

#body-img {
	width: 100%;
}

#addACatSection {
	background-color: #FFE4A0;
	display: none;
}

#addACatSection h3 {
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	font-family: 'Nunito Sans', sans-serif;
	color: #3D4F53;
}

#addACatSectionLeft{
	padding-top: 4%;
	padding-left: 6%;
	padding-right: 6%
	padding-bottom: 4%;
	text-align: left;
}

.form-group {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

label {
	flex-basis: 100px;
	background-color: #EA638C;
	color: white;
	height: 40px;
	border: none;
	padding-top: 10px;
	padding-left: 10px;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
}

.form-control {
	width: 75%;
	height: 40px;
	margin-top: 0px;
	border: none;
	border-radius: 0px;
	background-color: white;
}

#form-img {
	width: 100%;
}

#results {
	font-size: 18px;
}

#catResults {
	padding: 15px;
	margin: 15px 0px 15px 0px;
}

#resultSection {
	display: none;
	background-color: #6A97BE;
	color: white;
}

#resultsSection-left {
	padding-top: 4%;
	padding-left: 6%;
	padding-right: 6%
	padding-bottom: 4%;
	text-align: left;
}

#name-header {
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	font-family: 'Nunito Sans', sans-serif;
	color: white;
}

#catFamilySection {
	display: none;
	background-color: #FFE4A0;
	color: #3D4F53;
}

#catFamilySectionLeft {
	text-align: center;
	padding: 25px 10px;
	font-size: 18px;
}

#catFamilySectionLeftInner {
	padding-left: 15px;
}

#catFamilySectionLeft h2 {
	font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  font-family: 'Nunito Sans', sans-serif;
  color: #3D4F53;
}

#adoptionLocations {
	display: none;
}

#adoptionLocations h3 {
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	font-family: 'Nunito Sans', sans-serif;
	color: #3D4F53;
}

#locations p {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

#catFamRow {
	margin: 10px 25px 10px 10px;
	padding: 10px 5px;
	border: solid 3px #F4AFB4;
	border-radius: 15px;
	font-size: 18px;
}

#aboutUsSection {
	display: none;
	padding: 15px;
	color: white;
	background-color: #EA638C;
	font-size: 18px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#aboutUsSection h2 {
	font-size: 36px;
	font-weight: 400;
	line-height: 60px;
	font-family: 'Nunito Sans', sans-serif;
	color: white;
}

.about-img {
	width: 100%;
}

#footer {
	background-color: white;
	text-align: center;
		padding: 30px 0px;
}

#footer img {
	margin: 0px 5px;
}

#footer p {
	font-style: italic;
	margin-top: 20px;
}
