#header {
	text-align: center;
	padding-top: 0px;
	border-bottom: solid black 1px;
}

#header h1 {
	font-family: 'Bungee', cursive;
	font-size: 100px;
}

#nav {
	text-align: center;
}

#nav ul {
	list-style: none;
	text-align: center;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

#nav ul li {
	float: left;
	padding: 15px 10px 15px 10px;

}

p {
	font-family: 'Raleway', sans-serif;
}

#catResults {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	margin: 15px 0px 15px 0px;
}

.container img {
	width: 300px;
	float: left;
}

.container h2 {
	text-align: center;
}

#name-header {
	display: none;
}
