#header {
	text-align: center;
	padding-top: 0px;
	border-bottom: solid black 1px;
}

#header h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 100px;
	letter-spacing: 40px;
}

#social {
	text-align: left;
	padding-top: 20px;
	padding-left: 40px;
}

#social img {
	margin: 0px 5px;
}

#nav {
	text-align: center;
}

#nav ul {
	list-style: none;
	text-align: center;
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	font-weight: 900;
}

#nav ul li {
	float: left;
	padding: 15px 10px 15px 10px;
	text-transform: uppercase;
}

#nav ul li:hover {
	background-color: #6A97BE;
	color: white;
}

#nav a {
	color: black;
}

#body {
	background-color: #FFE4A0;
}

#body-left {
	padding: 80px 100px;
	text-align: center;
}

#body-left h3 {
	font-size: 36px;
	font-weight: 900;
	line-height: 60px;
	font-family: 'Nunito Sans', sans-serif;

}

#body-left p {
	font-size: 18px;
}

p {
	font-family: 'Raleway', sans-serif;
}

#catResults {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 15px;
	padding: 15px;
	margin: 15px 0px 15px 0px;
}

form {
	width: 100%;
}

#name-header {
	display: none;
}

#thin {
	font-weight: 300;
	color: #F4AFB4;
}

#thick {
	font-weight: 900;
	color: #3D4F53;
}

#body-img {
	width: 100%;
}

#cat-form {
	display: none;
}

/*#start {
	padding: 15px 25px;
	background-color: #EA638C;
	border-radius: 0px;
	border: 0px;
	color: white;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 30px;
}

#start:hover {

}*/

.btn-change7{
	padding: 15px 25px;
	background-color: #EA638C;
	border-radius: 0px;
	border: 0px;
	color: white;
	text-transform: uppercase;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-top: 30px;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #EA638C  inset;
}
.btn-change7:hover{
    box-shadow:250px 0 0 #FFE4A0 inset;
		border: solid #3D4F53 1px;
		color: #3D4F53;
}
